.register-box {
    width:750px;
    height:300px;
    border: 5px;
    border-radius: 15px;
    align-items: center;
    border-style: solid;
    border-color: #F03A47;
    background-color: #121212;
    margin: auto;
  
  }

.register-text{
    color:white;
    font-family: 'Share Tech', sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> 53e7d5c40001b12a1df30d50b02ee30d50050e06
