@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.inputs {
    width: 10%;
    padding: 1.5vw 2vw;
    border: none;
    border-radius: 1vw;
    background-color: #f1f1f1;
    font-family: 'Share Tech', sans-serif;
    display: inline-block;
    float: left;
    position: relative;
    left: 20vw;
  }

  .labels {
    font-family: 'Share Tech', sans-serif;
    color: white;
    padding: 1vw 3vw;
    font-size: 2vw;
    display: inline-block;
    float: left;
    clear: left;
    width: 17vw;
    text-align: right;
    background: transparent;
    position: relative;
    left: 20vw;
  }

  .btn {
    background-color: darkred;
    color: white;
    padding: 1vw 2vw;
    margin: 2vw 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-family: 'Share Tech', sans-serif;
    position: relative;
    right: 19.3vw;
    top: 22vw;
  }

  .bio-input {
    width: 10%;
    padding: 3vw 2vw;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Share Tech', sans-serif;
    display: inline-block;
    float: left;
    position: relative;
    left: 20vw;
    height: 2vw;
    vertical-align: top;
  }

  .logo-img1 {
    position: relative;
    height: 3vw;
  }

  .register-heading {
    font-family: 'Share Tech', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 2vw;
  }
