@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

input {
    width: 10%;
    padding: 16px 30px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Share Tech', sans-serif;
    display: inline-block;
    float: left;
    position: relative;
    left: 20vw;
  }

  label {
    font-family: 'Share Tech', sans-serif;
    padding: 16px 30px;
    font-size: 20px;
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    background: transparent;
    position: relative;
    left: 20vw;
  }

  .btn {
    background-color: darkred;
    color: white;
    padding: 14px 30px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-family: 'Share Tech', sans-serif;
    position: relative;
    right: 19.3vw;
    top: 20vw;
  }

  .bio-input {
    width: 10%;
    padding: 60px 30px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Share Tech', sans-serif;
    display: inline-block;
    float: left;
    position: relative;
    left: 20vw;
    height: 20px;
    vertical-align: top;
  }
